## First rule - delete all
-D

## Increase the buffers to survive stress events.
## Make this bigger for busy systems
-b 8192

## Set failure mode to syslog
-f 1

## Immutable
#-e 2

# Req 32: System events must be logged.
-a always,exit -F arch=b64 -S execve -F path=/sbin/reboot
-a always,exit -F arch=b64 -S execve -F path=/sbin/poweroff
-a always,exit -F arch=b64 -S execve -F path=/sbin/shutdow
-w /etc/at.allow
-w /etc/at.deny
-w /var/spool/at
-w /etc/crontab
-w /etc/anacrontab
-w /etc/cron.allow
-w /etc/cron.deny
-w /etc/cron.d
-w /etc/cron.hourly
-w /etc/cron.daily
-w /etc/cron.weekly
-w /etc/cron.monthly
-a always,exit -F arch=b64 -S adjtimex,settimeofday -F key=time-change
-a always,exit -F arch=b64 -S clock_settime -F key=time-change
-w /etc/localtime -p wa -k time-change
-a always,exit -F arch=b64 -S mount -F auid>=1000 -F auid!=-1 -F key=mounts
-a always,exit -F arch=b64 -S mount -F auid>=500 -F auid!=-1 -F key=export
-w /sbin/insmod -p x -k modules
-w /sbin/rmmod -p x -k modules
-w /sbin/modprobe -p x -k modules
-a always,exit -F arch=b64 -S init_module,delete_module -F key=modules
-w /usr/bin/rpm -p x -k software_mgmt
-w /usr/bin/yum -p x -k software_mgmt
-w /usr/bin/rpm -p x -k software_mgmt
-w /usr/bin/zypper -p x -k software_mgmt
-w /usr/bin/dpkg -p x -k software_mgmt
-w /usr/bin/apt-add-repository -p x -k software_mgmt
-w /usr/bin/apt-get -p x -k software_mgmt
-w /usr/bin/aptitude -p x -k software_mgmt
# Req 33: Access and Authentication events must be logged.
-w /var/log/lastlog -p wa -k logins
-w /etc/shadow -p wa -k identity
-w /etc/gshadow -p wa -k identity
-w /etc/security/opasswd -p wa -k identity
-w /etc/sudoers -p wa -k scope
-w /etc/sudoers.d # -p wa -k scope (problem with Ubuntu 16.04)
-w /var/log/sudo.log -p wa -k actions
-a always,exit -F arch=b64 -S chmod,fchmod,fchmodat -F auid>=1000 -F auid!=-1 -F key=perm_mod
-a always,exit -F arch=b64 -S chown,fchown,lchown,fchownat -F auid>=1000 -F auid!=-1 -F key=perm_mod
-a always,exit -F arch=b64 -S setxattr,lsetxattr,fsetxattr,removexattr,lremovexattr,fremovexattr -F auid>=1000 -F auid!=-1 -F key=perm_mod
-w /var/run/faillock/ -p wa -k logins
-w /etc/selinux/ -p wa -k MAC-policy
-w /var/log/faillog -p wa -k logins
-w /etc/apparmor/ -p wa -k MAC-policy
-w /etc/apparmor.d/ -p wa -k MAC-policy
-w /var/log/faillog -p wa -k logins
-w /var/log/tallylog -p wa -k logins
-w /etc/apparmor/ -p wa -k MAC-policy
-w /etc/apparmor.d/ -p wa -k MAC-policy
# Req 34: Account and Group Management events must be logged.
-w /etc/passwd -p wa -k identity
-w /etc/group -p wa -k identity
# Req 35: Configuration Change events must be logged.
-w /var/log/audit/audit.log
-w /var/log/audit/audit\[1-4\].log
-w /etc/syslog
-w /etc/rsyslog.conf
-w /etc/rsyslog.d/conf
-w /etc/audit/auditd.conf -p wa
-w /etc/audit/audit.rules -p wa
-a always,exit -F arch=b64 -S sethostname,setdomainname -F key=system-locale
-w /etc/issue -p wa -k system-locale
-w /etc/issue.net -p wa -k system-locale
-w /etc/hosts -p wa -k system-locale
-w /etc/network? -p wa -k system-locale
-w /etc/networks -p wa -k system-locale
-w /etc/pam.d
-w /etc/nsswitch.conf
-w /etc/ssh/sshd_config
-w /etc/sysctl.conf
-w /etc/modprobe.conf
-w /etc/profile.d
-w /etc/profile
-w /etc/shells
-w /var/log/messages
-w /etc/sysconfig/network -p wa -k system-locale
-w /etc/sysconfig/network-scripts -p wa -k system-locale
-w /var/log/messages
-w /etc/sysconfig/network -p wa -k system-locale
-w /etc/sysconfig/network-scripts -p wa -k system-locale
-w /var/log/auth.log
-w /var/log/system.log
-w /etc/network/interfaces -p wa -k system-locale
